<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cardetail.css">
    <title>Travel Log</title>
</head>
<body>
    <h1><%=location.result_object.name%></h1>
    <div class="row">
        <div class="column">
          <h2>Column 1</h2>
          <table>
            <tr>
              <td>Row 1, Cell 1</td>
              <td>Row 1, Cell 2</td>
            </tr>
            <tr>
              <td>Row 2, Cell 1</td>
              <td>Row 2, Cell 2</td>
            </tr>
            <tr>
              <td>Row 3, Cell 1</td>
              <td>Row 3, Cell 2</td>
            </tr>
          </table>
        </div>
        <div class="column">
          <h2>Column 2</h2>
          <table>
            <tr>
              <td>Row 1, Cell 1</td>
              <td>Row 1, Cell 2</td>
            </tr>
            <tr>
              <td>Row 2, Cell 1</td>
              <td>Row 2, Cell 2</td>
            </tr>
            <tr>
              <td>Row 3, Cell 1</td>
              <td>Row 3, Cell 2</td>
            </tr>
          </table>
        </div>
        <div class="column">
          <h2>Column 3</h2>
          <p><%=location.result_object%></p>
        </div>
      </div>
      
<div class="grid-container">

        
           
       
              <% if(image !== undefined ){ %>
                <% image.some(function(image, index){ %>
                <% if(image !== 2) {%> 
  <div>
    <a href="<%=image.source%>"><img class='grid-item grid-item-1' src='<%=image.image%>' alt=''></a>
    <p>"<%=image.source%>"</p>
  </div>
  <% } else{ %>
    <% return true; } %>
  <% }); %>
  <% } %>
</div>
</body>
</html>