<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/nav.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Open+Sans:wght@500&family=Water+Brush&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="shortcut icon" href="/images/favicon1.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/path/to/cdn/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/newpg.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
  <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
  <link href="	https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

  <link rel="stylesheet" href="css/swiper.css">
  <title>Travel Log</title>
</head>

<div class="container">
  <div class="alerts">
    <% if(message !='' ) { %>
      <% if(message=='Logged in Successfully' ) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>
            <%=message%>
          </strong>Welcome to Our Website <%=names%>.
            <button type="button"  class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <%}%>
          <%}%>
  </div>
</div>

<!-- <style>
  #loader {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.8;
}

#loader-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #ccc;
  font-size: 24px;
  text-align: center;
  line-height: 80px;
}

</style>  -->
<body>
  <div id="loader">
    <div class="spinner"></div>
  </div>
  <!-- <div id="loader">
    <div id="loader-progress"></div>
  </div>
  <div id="preloader"> -->
    <!-- <div id="preloader-inner">
      <div id="preloader-animation"></div>
      <div id="preloader-progress"></div>
      <div id="preloader-message">Loading...</div>
    </div>
  </div> -->
  
  <!-- <div class="center-body">
    <div class="loader-ball-12">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    </div> -->
  <!-- <div class="loader">
    <div class="wait"> Veuillez patienter svp</div>
    <div class="iata_code departure_city">Travel</div>
    <div class="plane">
      <img src="https://zupimages.net/up/19/34/4820.gif" class="plane-img">
    </div>
    <div class="earth-wrapper">
      <div class="earth"></div>
    </div>  
    <div class="iata_code arrival_city">Log</div>
  </div> -->

 <%-include('partials/header');-%>


  <!-- <div class="hero">
    <img src="/images/bg1.jpg" alt="Background" width="100%" height="100%">
    <h1>WanderW(here)</h1>
    <p>The internet’s source for visuals.Powered by creators everywhere.</p>
    <form class="d-flex searchbtn" role="search">
      <input class="form-control col-lg-4  mx-4" type="search" placeholder="Where to go?" aria-label="Search">
      <button class="btn btn-outline-light mx-2" type="submit">Search</button>
    </form>
  </div> -->

  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 class="headers" data-aos="fade-up-right">Don't Worry And<span> Travel More</span></h2>
          <h2 data-aos="fade-up-right" data-aos-delay="400">Dig into our down-to-Earth budget travel guides from around the
            world, filled with itinerary ideas, travel tips, and recommendations for places to go.</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <!-- <a href="/explore" target="_blank" data-aos="fade-up-right"
                class=" btn btn-primary btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Start Exlporing</span>
                <i class="bi bi-arrow-right"></i>
              </a> -->
              <a href="/view-template" target="_blank" data-aos="fade-up-right"
                class="mx-4 btn btn-primary btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Add Your Blog</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img data-aos="fade-down-right" src="/images/poster2.2.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section>

  <!-- <section class="padd">
      <div class="container-lg headline">
      <h1>"Get out there and Travel"</h1>
      <p>Best of the Best tours, attractions & activities you won't want to miss.<br>“For my part, I travel not to go anywhere, but to go. I travel for travel’s sake. The great affair is to move.”</p>
    </div>
    </section> -->


  <!-- about section starts  -->

  <section class="about" id="about">

    <div class="video-container" data-aos="fade-right" data-aos-delay="300">
      <video src="images/about-vid-2.mp4" muted autoplay loop class="video"></video>
      <div class="controls">
        <span class="control-btn" data-src="images/about-vid-1.mp4"></span>
        <span class="control-btn" data-src="images/about-vid-2.mp4"></span>
        <span class="control-btn" data-src="images/about-vid-3.mp4"></span>
      </div>
    </div>

    <div class="content" data-aos="fade-left" data-aos-delay="600">
      <span  data-aos="fade-left" >why choose us?</span>
      <h3  data-aos="fade-left" >Choose Adventure. Choose Us.</h3>
      <p  data-aos="fade-right">Are you a fan of adventure and new experiences? Because our travel website is the gateway to a world full of them. So why settle for ordinary when you can choose extraordinary with us?</p>
      <a href="#" class="btn btns btn-outline-dark">Read more</a>
    </div>

  </section>


  <!-- destination section starts  -->

  <section class="destination" id="destination">

    <div class="headings font">
      <h1>our destination's</h1>
      <span>make yours destination</span>
    </div>

    <div class="box-container">
      <% if(cards !='' ) {%>
        <%cards.forEach(function(Cards, index){%>
          <div class="box" data-aos="fade-up" data-aos-delay="150">
            <div class="image">
              <img  data-aos="fade-up-right" src="/images/<%=Cards.image%>" alt="<%=Cards.name%>">
            </div>
            <div class="content">
              <h3  data-aos="fade-up-left" data-aos-delay="600">
                <%=Cards.name%>
                
              <p  data-aos="fade-left">
                <%=Cards.description%>
              </p>
              <a href="/details/<%=Cards.category%>"  data-aos="fade-up-left">Read more <i class="fas fa-angle-right"></i></a>
            </div>
          </div>
          <% }); %>
            <% } %>


    </div>
  </section>

  <!-- destination section ends -->
  <!-- ---------Cards_-------------- -->
  <section>
    <div class="sec2">
      <div class=" container my-3 mt-5" id="featureContainer">
        <div class="row mx-auto my-auto justify-content-center">
          <div id="featureCarousel" class="carousel slide" data-bs-ride="carousel">
            <!-- Carousel Controls. OPTIONAL -->
            <div class="float-end pe-md-4">
              <a class="indicator" href="#featureCarousel" role="button" data-bs-slide="prev">
                <!-- <i class="fa-solid fa-arrow-right"></i>
                 -->
                <i class="fa fa-arrow-left fa-solid"></i>
              </a> &nbsp;&nbsp;
              <a class="w-auto indicator" href="#featureCarousel" role="button" data-bs-slide="next">
                <i class="fa fa-arrow-right"></i> </a>
            </div>
            <!-- Add Slides To The Carousel -->
            <div class="carousel-inner font" role="listbox">
              <h1>Where to Go Right Now</h1>
              <span class="font">Spots at the top of travellers’ must-go lists</span>
              <div class="carousel-item active">
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-img">
                      <a href="/advisor/id"><img style="cursor:pointer" src="/uploads/card1.jpg" class="img-fluid"></a>
                    </div>
                    <div class="card-img-overlays">Taiwan</div>
                  </div>
                </div>
              </div>
              <% if(categories !='' ){ %>
                <% categories.forEach(function(Category, index){ %>
                  <div class="carousel-item">
                    <div class="col-md-3">
                      <div class="card">
                        <div class="card-img">
                          <a href="/advisor/<%=Category._id%>"><img src="<%=Category.image%>" alt="<%= Category.namee%>" target="_blank" class="img-fluid"></a>
                        </div>
                        <div class="card-img-overlays">
                          <%=Category.namee%>
                        </div>
                      </div>

                    </div>
                  </div>
                  <% }); %>
                    <% } %>
                      <!-- ... more slides here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="gallery" id="gallery">

    <div class="heading font">
      <h1>Our Spacious gallery</h1>
      <span>we record memories</span>
    </div>

    <div class="box-container">
      <!-- <span id="more"> -->
      <%if(gallery !='' ){%>
        <%gallery.forEach(function(Gallery,index){%>
          <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
            <img src="/uploads/<%=Gallery.image%>" alt="">
            <span class="material-symbols-outlined">
              north
            </span>
            <span>
              <%= Gallery.description %>
            </span>
            <h3>
              <%= Gallery.name %>
            </h3>
          </div>
          <%})%>
            <% } %>
              <!-- </span> -->
    </div>
    <button class="button-55" role="button" onclick="myFunction()" id="myBtn">Read More</button>

  </section>

  <!-- gallery section ends -->

  <!-------------------------------------------------------------- -->
  <!-- <section id="page3">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img src="/images/bg5.jpg" class="d-block w-100" width="100%" height="30%" alt="...">

        </div>
        <div class="carousel-item active">
          <img src="/images/bg4.jpg" class="d-block w-100" width="40%" height="20%" alt="...">

        </div>
        <div class="carousel-item">
          <img src="/images/bg2.jpg" class="d-block w-100" alt="..." width="100%" height="80%">
        </div>
        <div class="carousel-item">
          <img src="/images/bg3.jpg" class="d-block w-100" alt="..." width="100%" height="30%">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section> -->



  <!-- Latest Blog Section Begin -->
  <section class="latest spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title font">
            <h1>Latest Blog's</h1>
            <span>Travelling Bugger's</span>
          </div>
        </div>
      </div>

      <div class="row">
        <% if(blogs !='' ) { %>
          <!-- <% blogs.forEach(function(Blogs,index){%> -->
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog__item">
              <div class="blog__item__pic">
                <!-- data-setbg="/images/bg2.jpg"> -->
              <a href="/category/:id"><img style="cursor:pointer" src="/images/<%=Blogs.image%>" width="100%" alt=""></a>
              </div>
              <div class="blog__item__text">
                <span><img src="/images/calendar.png" alt="">
                
                  <%=Blogs.Date%>
                </span>
               <a href="/blog" target="_blank"><%=Blogs.name%></a> 
               <h5></h5>
                <!-- <a href="#">Read More</a> -->
              </div>
            </div>
          </div>
          <!-- <%});%> -->
          <%}%>
  </section>
  <!-- Latest Blog Section End -->

  <!-- --------------------------------------------------------------------------------------------- -->
  <section class="section-team">
    <div class="container">
      <!-- Start Header Section -->
      <div class="row justify-content-center text-center">
        <div class="col-md-8 col-lg-6">
          <div class="header-section font">
            <h1>Our Team</h1>
            <span>Let's meet with our team members</span>
          </div>
        </div>
      </div>
      <!-- / End Header Section -->
      <div class="row">
        <!-- Start Single Person -->
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="single-person">
            <div class="person-image">
              <img src="/images/razzaq.jpg" alt="">
              <span class="icon">
                <i class="fab fa-html5"></i>
              </span>
            </div>
            <div class="person-info">
              <h3 class="full-name">Razzaq Shikalgar</h3>
              <span class="speciality">Web Developer</span>
            </div>
          </div>
        </div>
        <!-- / End Single Person -->
        <!-- Start Single Person -->
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="single-person">
            <div class="person-image">
              <img src="/images/mandvi.jfif" alt="">
              <span class="icon">
                <i class="fab fa-js"></i>
              </span>
            </div>
            <div class="person-info">
              <h3 class="full-name">Mandvi Shukla</h3>
              <span class="speciality">Back-End Developer</span>
            </div>
          </div>
        </div>
        <!-- / End Single Person -->
        <!-- Start Single Person -->
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="single-person">
            <div class="person-image">
              <img src="/images/samyukta.jfif" alt="">
              <span class="icon">
                <i class="fab fa-google-plus-g"></i>
              </span>
            </div>
            <div class="person-info">
              <h3 class="full-name">Samyukta Shinde</h3>
              <span class="speciality">Website Designer</span>
            </div>
          </div>
        </div>
        <!-- / End Single Person -->
        <!-- Start Single Person -->
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="single-person">
            <div class="person-image">
              <img src="/images/Aaryan.jfif" alt="">
              <span class="icon">
                <i class="fab fa-js"></i>
              </span>
            </div>
            <div class="person-info">
              <h3 class="full-name">AAryan Sorte</h3>
              <span class="speciality">Back-End Developer</span>
            </div>
          </div>
        </div>
        <!-- / End Single Person -->
      </div>
    </div>
  </section>
  <!--  <section class="team section">
   <div class="container">
      <h1 class="section-title">Our Team </h1>
      <div class="row box">
        <div class="col">
          <div class="team-item">
            <figure>
              <img src="/images/person.jpg" alt="">
              <figcaption>
                <div class="info">
                  <h3>Razzaq Shikalgar</h3>
                  <p>Project Lead</p>
                </div>
                <div class="social">
                  <a href="#" class="twitter" data-abc="true"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="google-plus" data-abc="true"><i class="fa fa-linkedin"></i></a>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col">
          <div class="team-item">
            <figure>
              <img src="/images/person.jpg" alt="">
              <figcaption>
                <div class="info">
                  <h3>Mandvi Shukla</h3>
                  <p>Backend Developer</p>
                </div>
                <div class="social">
                  <a href="#" class="twitter" data-abc="true"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="google-plus" data-abc="true"><i class="fa fa-linkedin"></i></a>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col">
          <div class="team-item">
            <figure>
              <img src="/images/person.jpg" alt="">
              <figcaption>
                <div class="info">
                  <h3>Samyukta Shinde</h3>
                  <p>Designer</p>
                </div>
                <div class="social">
                  <a href="#" class="twitter" data-abc="true"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="google-plus" data-abc="true"><i class="fa fa-linkedin"></i></a>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col">
          <div class="team-item">
            <figure>
              <img src="/images/person.jpg" alt="">
              <figcaption>
                <div class="info">
                  <h3>Aaryan sorte</h3>
                  <p>Back-end Developer</p>
                </div>
                <div class="social">
                  <a href="#" class="twitter" data-abc="true"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook" data-abc="true"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="google-plus" data-abc="true"><i class="fa fa-linkedin"></i></a>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <%-include('partials/footer');-%>
  <script>
    document.querySelectorAll('.about .video-container .controls .control-btn').forEach(btn => {
      btn.onclick = () => {
        let src = btn.getAttribute('data-src');
        document.querySelector('.about .video-container .video').src = src;
      }
    });


  </script>

  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
  <script src="/js/script.js"></script>
  <script>
    function myFunction() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("more");
      var btnText = document.getElementById("myBtn");

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less";
        moreText.style.display = "inline";
      }
    }
  </script>
   <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
   <script>
     AOS.init();
     // Show the loader
document.getElementById("loader").style.display = "block";

// Hide the loader after 3 seconds
setTimeout(function(){
  document.getElementById("loader").style.display = "none";
}, 3000);

// window.addEventListener("load", function() {
//   document.getElementById("loader").style.display = "none";
// });

// var loaderProgress = document.getElementById("loader-progress");
// var progress = 0;

// var loadingInterval = setInterval(function() {
//   progress += 1;
//   loaderProgress.innerHTML = progress + "%";
  
//   if (progress >= 100) {
//     clearInterval(loadingInterval);
//   }
// }, 50);


   </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
  <script src="/path/to/cdn/bootstrap.bundle.min.js"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>
  <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
  <script src="/js/swiper-bundle.min.js"></script>
</body>

</html>